@font-face {
    font-family: 'Foobar';
    src: url(../fonts/Foobar\Pro-Regular.woff) format(woff);
}

:root{
    --primary:  rgb(32, 167, 122);
    --secondary: red ;       
    --border-radius:8px;}
/* on prefixe les variables avec les 2 -- */

*{margin: 0;
padding: 0;}
a{display: inline-block;
    text-decoration:none;
    color: inherit;}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{font-family: 'Foobar';
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 10px;}
    h1{font-size: 2.7rem;}
    h2{font-size: 2.4rem;}
    h3{font-size: 2.1rem;}
/******************Header**********************/
.navbar {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999999;} /*z-index: positionnement 9999=1ier plan, 0=dernier plan */

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;}

.container{
    width: 90%;
    margin: auto;
height: 50px;}
.logo{
    height: 35px;}
.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;}
