:root{
    --primary:  rgb(32, 167, 122);}


*{margin: 0;
padding: 0;}
a{display: inline-block;
    text-decoration:none;
    color: inherit;}
/******************Header**********************/
.navbar {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999999;} /*z-index: positionnement 9999=1ier plan, 0=dernier plan */

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;}

.container{
    width: 90%;
    margin: auto;
height: 50px;}
.logo{
    height: 35px;}
.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;}
/* li a{text-decoration: none; 
    color: brown;}*/